@{
  Layout = "_Layout";
}

@section scripts {

}
  <body>
    <div class="jumbotron">
      <h1>City Experiences</h1>
    </div>
    <div class="LoginBox">
      <div id="LoginForm">
        <form class="form-group" action="/user/home/login" method="post">
          <label for="username"> Username:</label>
          <input class="form-control" style="width:30%" type="text" name="username">
          <label for="">Password:</label>
          <input type="password" class="form-control" style="width:30%" name="password"><br>
          <button type="submit" class="btn btn-info" name="button">Log in</button>
        </form>
        <form class="" action="/signup">
          <button type="submit" class="btn btn-info" name="button">Sign Up</button>
        </form>
        <br>
        <form class="" action="/" method="get">
          <button type="submit" class="btn btn-info" name="button">Enter without Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
