<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>City Experiences</h1>
    </div>
    <div class="box">
      <h1>insert info from sign up here</h1>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="listingBox">
          <h2>Listings</h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="descriptionBox">
          <h2>Descriptions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Bookings</h2>
      </div>
      <div class="col-md-4">
        <h2>Contact info</h2>
      </div>
    </div>
    <form class="form-group" action="/" method="post">
      <button type="submit" name="button">Home</button>
    </form>
  </body>
</html>
